/** Range styling - Corporate PDF Theme */
main .form .range-widget-wrapper.decorated input[type="range"] {
    margin: unset;
    padding: unset;
    appearance: none;
    height: 4px;
    border-radius: 0;
    border: none;
    background-image: linear-gradient(to right, var(--brand-corporate-black, #000) calc(100% * var(--current-steps)/var(--total-steps)), var(--brand-corporate-gray-light, #ccc) calc(100% * var(--current-steps)/var(--total-steps)));
}
 
main .form .range-widget-wrapper.decorated input[type="range"]:focus {
    outline: none;
}
 
.range-widget-wrapper.decorated input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: var(--brand-corporate-black, #000);
    border: 2px solid var(--brand-corporate-white, #fff);
    cursor: pointer;
    outline: 1px solid var(--brand-corporate-black, #000);
}
 
.range-widget-wrapper.decorated input[type="range"]:focus::-webkit-slider-thumb {
    border-color: var(--brand-corporate-white, #fff);
    outline-width: 2px;
}
 
.range-widget-wrapper.decorated .range-bubble {
    color: var(--brand-corporate-black, #000);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}
 
.range-widget-wrapper.decorated .range-min,
.range-widget-wrapper.decorated .range-max {
    font-size: 12px;
    line-height: 1.4;
    color: var(--brand-corporate-gray, #666);
    margin-top: 8px;
    display: inline-block;
}
 
.range-widget-wrapper.decorated .range-max {
    float: right;
}